:root ion-popover {
  --width: unset;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab-VariableFont_wght.ttf");
}

:root {
  --ion-font-family: "Roboto";
  --ion-text-color: white;
}

ion-content {
  --background: linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url("../../public/assets/space.jpeg") no-repeat center/cover fixed;
}

ion-item-divider {
  --background: unset;
  --color: white;
}

.custom-alert .alert-wrapper {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}

.custom-popover .popover-content {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}

.split-pane-visible > ion-menu {
  max-width: 36%;
}
